<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="DungeonEntities" connectionString="metadata=res://*/Dungeon.Model.csdl|res://*/Dungeon.Model.ssdl|res://*/Dungeon.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Dungeon.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>