* {
  -ms-user-select: none; /* IE 10+ */
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  user-select: none;
}

.selectable {
  -ms-user-select: auto;
  -moz-user-select: auto;
  -webkit-user-select: auto;
  user-select: auto;
}

body {
  padding-top: 50px;
  background: #333;
  color: #ECECEC;
}

.game {
  width: 940px;
  margin: auto;

  .screen {
    float: left;
    position: relative;
    width: 600px;
    height: 600px;
    margin: auto;

    canvas {
      position: absolute;
      top: 0;
      left: 0;
    }

    .panel-death {
      top: 0;
      left: 0;
      position: absolute;
      text-align: center;
      width: 600px;
      height: 600px;
      padding: 100px 0px;
      background-color: rgba(42, 35, 35, 0.66);
      color: #FFFFFF;

      .killer-body {
        width: 32px;
        height: 32px;
        margin: 20px auto;
        background-image: url('../images/sprites/characters.png'); //TODO : image-url as variable
      }
    }
  }

  .chat {
    float: left;
    width: 600px;
    height: 200px;

    .content {
      height: 170px;
      overflow: auto;
    }
  }

  .player {
    float: right;
    width: 300px;

    .player {
      .status {
        .body {
          width: 32px;
          height: 32px;
          background-image: url('../images/sprites/characters.png'); //TODO : image-url as variable
        }

        .hits {
        }

        .mana {
        }
      }
    }
  }
}
