<?xml version="1.0"?>
<configuration>

	<system.serviceModel>
		<services>
			<service behaviorConfiguration="WebServer.Services.ServerAdminServiceBehavior" name="WebServer.Services.ServerAdminService">
				<endpoint address="" binding="netTcpBinding" bindingConfiguration="" contract="WebServer.Services.IServerAdminService">
					<identity>
						<dns value="localhost" />
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexTcpBinding" bindingConfiguration="" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://137.117.137.94:8686/ServerAdmin" />
					</baseAddresses>
				</host>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="WebServer.Services.ServerAdminServiceBehavior">
					<serviceMetadata httpGetEnabled="false" />
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>

	<appSettings>
		<add key="ServerBinding" value="ws://137.117.137.94:8899/dungeon" />
		<add key="Path_GameData" value="C:\ClicWars\Game"/>
	</appSettings>

	<system.net>
		<defaultProxy>
			<proxy autoDetect="True"/>
		</defaultProxy>
		<settings>
			<servicePointManager expect100Continue="false"/>
		</settings>
	</system.net>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
</configuration>
